body {
    background: #001a16;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#mensaje{
    
    margin-bottom: 20px;
    border: solid 3px #00ffc0;
    background: #005c36;
    outline-color: #00ffd5;
    color: white;
    border-radius: 10px;
    
}


#enviar{
    
    border-radius: 10px;
    background:#00725f ;
    border: solid 3px #00ffd5;
    color: #00ff81;
    
}


#resul{
    
    color: aqua;
    font-size: 25px;
    
}

